<div data-role="outer">
  <div data-role="middle">
    <div data-role="inner">
      findRole

      <input id="checkbox-role" type="checkbox" data-role="checkbox">
    </div>
  </div>
</div>

<input name="the-input">

<label for="labelled-checkbox">Checkbox!</label>
<input id="labelled-checkbox" type="checkbox">

<input id="unchecked-checkbox" type="checkbox">
<input id="checked-checkbox" type="checkbox" checked>

{{#if submitted}}
  <span id="submitted"></span>
{{/if}}

<input {{action "submit"}} type="submit" value="Submit!">

<div id="the-text">
  This is filler text. Includes the word "needle".
</div>

<form>
  <div class="included">
    <input id="included-checkbox" type="checkbox">
    <input id="included-text" type="text">
    <input type="submit" value="included">
    <button>included</button>

    <div class="inner-included">
      <span></span>
    </div>
  </div>

  <div class="excluded">
    <input id="excluded-checkbox" type="checkbox">
    <input id="excluded-text" type="text">
    <input type="submit" value="excluded">
    <button>excluded</button>
  </div>
</form>
